// FONT //
@font-face {
    font-family: "font-1";
    src: url("/assets/fonts/Merriweather-Regular.ttf");
}

// VARIABLE //
:root {
    --main-color: rgb(170, 241, 55);
    --second-color: #010122;
    --white: rgb(248, 248, 248);
    --black: rgb(32, 32, 32);
    --br: 20px;
    --font-1: "font-1", sans-serif;
  }

// REGLAGE GENERALE //
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

  body {
    background: url(/assets/img/bg.jpg) center/cover fixed;
    font-family: "font-1";
    min-height: 100vh;
    text-align: center;
    width: 80%; 
    margin: 0 auto;
  }
li{
list-style: none;
}
a,
a:visited{
    color: white;
}
a{
  text-decoration: none;
}
p{
  font-size: 0.8rem;
  line-height: 30px;
}
// Centrer un enfant unique
@mixin centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Aligner parfaitement des enfants
@mixin flexChildren {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1{ 
    text-align: center;
    font-size: 3rem;
    color: var(--white);
   font-family: "font-1", Arial, Helvetica, sans-serif;
}
header{
  margin-top: 100px;
  min-height: 65vh;
}
.head-contenu{
    width: 100%;
    min-height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.head-contenu h1{
  font-size: 4rem;
  font-family: "font-1";
}
.item-nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 80px;
  padding: 10px;
  background: transparentize($color: #d1cccc, $amount: 0.7);
}
.item-nav nav ul {
  display: flex;
  justify-content:center;
  align-items: center;
}
.item-nav ul .active{
  background-color: #010122;
}
.item-nav nav ul li{
  margin-right: 40px;
}

/* section -1 */

.section-1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: white;
  padding: 40px;
}
.section-1 img{
  width: 90%;
  margin-top: 70px;
}
.info-section, h2, .btn{
margin-top: 32px;
}

/* SECTION 2 */

.section-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(75, 13, 13);
  border-top: 1px solid rgb(223, 220, 220);
}
.section-2 img{
  width: 100%;
  margin-top: 70px;
}
.item-1, .item-2, h2{
  text-align: center;
}


.item-1 {
  border-right: 1px solid rgb(223, 220, 220);
}

/* FORMULAIRE */
/*form{
  display: grid;
  width: 100%;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-area: "";
}